<div class="sidebar">
  <img src="../../../assets/logo.jpg" class="logo">
  <ul>
    <li [routerLink]="['/dashboard']" [routerLinkActive]="'active'">dashboard</li>
    <li [routerLink]="['/simulations']" [routerLinkActive]="'active'">simulations</li>
    <li [routerLink]="['/new-simulation']" [routerLinkActive]="'active'">new simulation</li>
    <li [routerLink]="['/history']" [routerLinkActive]="'active'">history</li>
  </ul>
  <div class="footer">
    <a class="author" href='https://pl.freepik.com/wektory/tlo'>Tło plik wektorowy utworzone przez Harryarts - pl.freepik.com</a>
    <a class="author" href='https://pl.freepik.com/wektory/logo'>Logo plik wektorowy utworzone przez freepik - pl.freepik.com</a>
  </div>
</div>
