<app-header>
  <h1 levels>disease application simulation</h1>
  <div content>
    <p>Dashboard</p>
  </div>
</app-header>

<div class="data-container">
  <h2 class="title">Welcome to disease simulation app</h2>

  <div class="text-wrapper">
    <p>In this application you can simulate spread of disease. There are some initial data to describe disease and
      group of population.</p>
    <p>First we need give number of population and initial number of infected people.</p>
    <p>Second we have to give the period of time of simulation, necessary time to recover and time
      after that infected person can die. All period of time we give in days</p>
    <p>Finally we have two factors to describe type of disease:</p>

    <ol>
      <li>
        <p>
          First one is factor of spread of disease. This factor describe how fast disease spreads. If this factor
          is equal or less than 1 that disease will not spread
        </p>
      </li>
      <li>
        <p>
          Second one is mortality factor. This factor describe the probability of death ill person. Maximal value
          of this factor is 1 that means 100% probability of death that means all ill people will die. Minimal value
          is 0 that means no ill person will die.
        </p>
      </li>
    </ol>
  </div>
</div>
