<app-header>
  <h1 levels>disease application simulation</h1>
  <div content>
    <p>History</p>
  </div>
</app-header>

<div class="data-container">
  <h2 class="title">The biggest epidemics in human history</h2>

  <div class="row text-center text-uppercase">

    <div class="col-sm-4">
      <a href="https://en.wikipedia.org/wiki/Black_Death" target="_blank" class="card card-link">
        <h3 class="font-weight-bold">The Plague</h3>
        <h4>1346-1353</h4>
        <h3 class="font-weight-bold">~225 mln</h3>
        <p>deaths</p>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="https://en.wikipedia.org/wiki/1899%E2%80%931923_cholera_pandemic" target="_blank" class="card card-link">
        <h3 class="font-weight-bold">Cholera</h3>
        <h4>1899-1923</h4>
        <h3 class="font-weight-bold">~1.5 mln</h3>
        <p>deaths</p>
      </a>
    </div>

    <div class="col-sm-4">
      <a href="https://en.wikipedia.org/wiki/Spanish_flu" target="_blank" class="card card-link">
        <h3 class="font-weight-bold">Spanish flu</h3>
        <h4>1918-1920</h4>
        <h3 class="font-weight-bold">~50 mln</h3>
        <p>deaths</p>
      </a>
    </div>

  </div>
</div>
